.author-top-card-container{
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
}
.verified-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.check-icon{
    background: blue;
    width: 18px;
    height: 18px;
    font-size: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: grid;
    place-items: center;
   
}
.verified-text{
    font-size: 13px;
    font-weight: 500;
}
.author-top-card-artist-name{
    font-family: "heebo";
    font-size: 5.2rem;
    font-weight: 800;
    text-transform: capitalize;
}
.author-top-card-listerners-count{
    font-size: 16px;
}