.player-wrapper {
    position: fixed;
    bottom: 0;
    background: #000;
    display: flex;
    padding: 0.5rem;
    width: 100vw;
}

.player-song,
.player-extra-controls {
    width: 30%;
}

.player-container {
    width: 40%;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
}

.player-track-container {
    position: relative;
    width: 80%;
    margin: 10px auto;
    height: 2.5px;
    border-radius: 2px;
    background: #4d4c4c;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.player-track-container::after {
    content: attr(data-start-value);
    position: absolute;
    left: -20px;
    top: 50%;
    font-size: 12px;
    transform: translate(-50%, -50%);
    color: #5c5b5b;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.player-track-container::before {
    content: attr(data-end-value);
    position: absolute;
    right: -40px;
    top: 50%;
    font-size: 12px;
    transform: translate(-50%, -50%);
    color: #5c5b5b;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.player-progress {
    position: absolute;
    width: 40%;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}